/*   generel  */

*{
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  width: 100%;
  display: block; 
  overflow-x: hidden;
}

/*   nav      */

.nav-desctop{
  display: none;
}

.header-wrapper{
  background-color: transparent !important;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 8px 0;
  z-index: 999;
}

header .nav-desctop{
  display: none;
}

#mobile{
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  transition: all 0.5s;
  padding-top: 10px;
  height: 61px;
}

.nav-mobile nav{
  width: 100%;
  background-color:#492d78;
  color:#1299d5;
  height: 100vh;
  position: absolute;
  right:0;
  overflow:hidden;
  top:-100vh;
  transition: all 0.5s;

}

.nav-mobile nav #second-menu{
  background-color: #3e1d56;
  position: absolute;
  bottom: -18px;
  right: 0;
  left: 0;
}

.nav-mobile nav #first-menu{
  position: relative;
  width: 100%;
  top:60px;
  float: left;
  margin: 0;
  font-size: 28px;

}

.nav-mobile nav ul {
  padding: 35px 40px 35px 45px;
}

.nav-mobile nav #first-menu li a{
  margin:10px;

}
.header-wrapper nav ul li{
  list-style: none;
  padding-left: 15px;
}

.header-wrapper nav ul li a{
  text-decoration: none;
  color: #ffffff;
  line-height: 80px;
}

.header-wrapper nav #second-menu li a{
  font-size: 20px;
}

.header-wrapper .fa{
  font-size: 14px;
  background-color: #ffffff;
  color: #3e1d56;
  margin-right: 10px;
  border-radius: 3px;
  height: 36px;
  padding: 3px 13px;
  line-height: 30px;
}


.header-wrapper input[type=checkbox]{
  position: absolute;
  opacity: 0;
  top: 25px;
  right: 25px;
}

.header-wrapper input[type=checkbox]:checked ~ nav{
  top: 0;
  left:0;
}
.header-wrapper input[type=checkbox]:checked ~ #mobile{
  margin-top: 0;
}

.nav-mobile .menu{
  width: 76px;
  height: 43px;
  display: inline-block;
  cursor: pointer;
  top: 32px;
  right: 20px;
  position: absolute;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 13px 16px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  background-color: rgba(0,0,0,.1);
  line-height: 16px;
  font-size: 16px;
  
}

.nav-mobile .menu:hover{
  box-shadow: inset 0 0 0 2px #ffffff;
}

.nav-mobile #logo{
  background: url("https://a.slack-edge.com/66f9/img/landing/header_logo_sprite.png");
  background-position: left top;
  background-size: 106px 60px;
  height: 30px;
  width: 106px;
  float: left;
  margin: 15px 0 0 16px;
}

.nav-mobile #mobile .word{
  float: right;
  margin-top: 19px;
  margin-right: 125px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  cursor: pointer;
  padding: 7px 7px 9px;
}

.nav-mobile .mobile-wrapper #logo{
  background-image: url("https://a.slack-edge.com/66f9/img/landing/header_logo_sprite.png");
  background-size: 105px 60px;
  position: relative;
  top:20px;
  opacity: .25;
}

.clear{
  clear: both;
}

/*   story */
.story{
  background-position: center 90%;
  background-size: cover;
  background-image: url(https://a.slack-edge.com/4030/img/wired/mobile/neutrino-observatory-header-mobile.jpg);
  height: 500px;
  position: relative;
  top:0;
  text-align: center;
  margin: 0 !important;
  max-height: inherit;
  z-index: 1;
  text-shadow: 0 0 1px rgba(0,0,0,.1);
  padding: 50px 0;
    
}

/* gradient  */
.gradient{
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 100%);
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
}


.container-item{
  visibility: hidden;
}

.container-header{
  display: block;
  position: absolute;
  bottom: 39px;
  width: 100%;
}
.story .container-header h1{
  font-weight: 900;
  color: #ffffff;
  font-size: 50px;
  line-height: 54px;
  text-align: left;
  padding: 0 20px;

}

/*   story mobile  */

.story-mobile{
  width: 100%;
  color: #ffffff;
  text-align: center;
  background-color: #2c2d30;
  border: none;
  background-size: cover;
  background-position: center top;
  padding: 10px;
  position: relative;
  
}

.container-mobile{
  max-width:869px;
  margin:0px auto;
}

.box-mob{
  display: block;
  padding: 10px 25px 0px;
  
  }

.box-mob form{
  display: inline-block;
  width: 100%;
}


.box-mob p{
  font-size: 15px;
  line-height: 22px;
  margin: 19px 0 0;
  padding: 0 !important;
  color:#ffffff;
}

.box-mob form input[type="email"]{
  margin-bottom: 0;
  font-size: 20px;
  padding: 14px;
  width: 100%;
  margin-right: 15px !important;
  border-radius: 4px;
  border:none;
  margin-bottom: 10px;
  }

.box-mob input[type="button"]{
  line-height: 50px;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #56b68b;
  border-radius: 4px;
  background: #56b68b;
  color: #ffffff;
  vertical-align: top;
}
.box-mob input[type="button"]:hover{
  opacity: 0.9;
  cursor: pointer;
}

.box-mob a{
  color: #ffffff;
}

.box-mob a:hover{
  cursor: pointer;
}

.text-mob p{
  font-size: 22px;
  margin: 30px auto;
  padding-top: 10px;
  width: 100%;
  border-top: 1px solid rgba(255,255,255,.5);
}

/*store-location */
#store-location{
  display: none;
}


/* footer  */

footer{
    background-color: transparent;
    /*border-top: 1px solid rgba(255,255,255, 0.1);*/
    position: relative;
    width: 100%;
    margin:0;
    color: #9e9ea6;
    display: block;
    padding: 0;

}

/* mobile-lista */

.mobile-lista{
  width: 100%;
  display: block;
  position: relative;
  left: 0;
  right: 0;
}

.half {
  width: 100%;
  
}

.tab {
  position: relative;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background-color: #000000;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #000000;
  transition: max-height .35s;
}

.tab-content ul li{
  list-style: none;

}

.tab-content ul li a{
  text-decoration: none;
  text-indent: 16px;
  padding: 10px 0;
  font-size: 13px;
  color: rgba(255,255,255,.5);
  cursor: pointer;
  line-height: 2.5;
}
.tab-content ul li a:hover{
  color: #9E9EA6;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100%;
  transition: all 0.4s ease-in-out;

}

label[for="tab-one"],
label[for="tab-two"],
label[for="tab-three"],
label[for="tab-four"]{
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
  font-weight: 800;
  padding: 10px;
  border-top: 1px solid rgba(255,255,255,.14);
  transition: all 0.4s ease-in-out;
}

/* Icon */
label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 48px;
  height: 48px;
  line-height: 4;
  text-align: center;
  transition: all 0.4s ease-in-out;
}
.tab input[type=checkbox] + label::after {
  content:"\2795";
  transition: all 0.4s ease-in-out;
}

.tab input[type=checkbox]:checked ~ label::after {
  content:"\2796";
  transition: all 0.4s ease-in-out;
  

}

/*big lista */
.big-lista{
  display: none;
}

/* contact  */
.contact{
  position: relative;
  background-color: #1e1e1e;
  overflow:hidden;
  width: 100%;
  display: block;
  padding: 0 5px;
}

.contact .lista ul li{
  display: inline-block;
  list-style: none;
}
.contact .lista ul{
  float: right;
  margin-top: 18px
}

.contact .lista #img{
  color: #ffffff;
  font-size: 20px;
  margin:18px 0;

}
.contact .lista ul li span{
  font-size:20px;
}
.contact .lista ul a{
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
}
.contact .lista ul li a:hover{
  color: rgba(255, 255, 255, 0.2);
}

.contact .lista ul li:nth-child(2){
  margin:0 10px 0;
}

/*  media    */

@media screen and (min-width: 640px){

.story-mobile{
  display: none;
}

.story{
height: 785px;
}

.story .container-header h1{
  text-align: center;
}
.container-item{
  visibility: visible;
  width: 100%;
  position: absolute;
  bottom: 50px;
  color: #ffffff;
  text-align: center;

}
.item{
  padding: 0 12px;
  max-width:869px;
  margin:0px auto;
}

.text{
  font-size: 22px;
  margin: 40px auto 22px;
  padding: 0;
  width: 100%;
}

.box-comp{
  display: inline-block;
  padding: 19px 48px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 8px;
}
.box-comp p{
  font-size: 15px;
  line-height: 22px;
  margin: 19px 0 0;
  color:#ffffff;
}

.box-comp input[type="email"]{
  margin-bottom: 0;
  font-size: 20px;
  padding: 15px;
  width: 240px;
  margin-right: 7px;
  border-radius: 4px;
  border:none;
  }

.box-comp input[type="button"]{
  line-height: 50px;
  width: 184px;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #56b68b;
  border-radius: 4px;
  background: #56b68b;
  color: #ffffff;
  vertical-align: top;
}
.box-comp input[type="button"]:hover{
  opacity: 0.9;
}

.box-comp a{
  color: #ffffff;
}

.container-header{
  position: absolute;
  bottom: 300px;
  width: 100%;

}

.story .container-header h1{
  display: block;
  position: relative;
}

footer{
  padding: 0 !important;
  overflow: hidden;
  border: none !important;
}

.contact{
  margin:0 !important;
  padding: 0 20px;
}

}

@media only screen and (min-width: 770px){

body{
  background:url("https://a.slack-edge.com/4030/img/wired/nasa-header-image.jpg");
  background-position:center top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  box-shadow:inset 0 -460px 371px -65px #000000;
  display: block;
  margin: 0;
}

.gradient{
  bottom: 35px;
 border-bottom: 1px solid rgba(255,255,255, 0.4) !important;
}
.story{
  background-image: none;
  box-shadow: none;
  max-height: auto;
  z-index: 1;

}
.nav-mobile{
  visibility: hidden;
}

header .nav-desctop{
  display: inline-block;
  overflow:hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

}

#logo{
  background: url("https://a.slack-edge.com/66f9/img/landing/header_logo_sprite.png");
  background-size: cover;
  background-position: left top;
  background-size: 106px 60px;
  height: 30px;
  width: 106px;
  float: left;
  margin: 25px 0 0 16px;
}

.nav-desctop ul li{
  display: inline-block;
  padding: 0 !important;
}

.nav-desctop ul{
  float: right;
  margin-top: 5px;
  padding: 0 !important;
}

.nav-desctop ul li a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
  padding: 9px 5px 9px;
}

.nav-desctop ul li a:hover{
  background-color: rgba(0,0,0, 0.1);
  border-radius: 5px;
  color: #ffffff;
}


#sing-in{
  border:2px solid rgba(255, 255, 255, 0.5);
  opacity: 5;
  padding: 9px 7px 9px;
  border-radius: 5px;
}

#sing-in:hover{
  background-color: transparent;
  border-color: #ffffff;
}

.box-comp{
  margin-bottom: 10px;
}

.container-header{
  bottom: 360px;
}
.story .container-header h1{
  font-size: 54px;
  line-height: 60px;
}

.container-item {
  bottom: 110px;
}
/*  store-location  */

#store-location{
  display: inline-block;
  text-align: left;
  float: right;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  right: 24px;
  margin-top: 645px;
  color: #ffffff;
}

#store-location a{
  color: #ffffff;
  text-decoration: none;
}

#store-location a:hover{
  text-decoration: underline;
  cursor: pointer;
}


#store-location strong{
  font-weight: 900;
  font-size: 15px;
}

#store-location span{
  font-size: 15px;
  margin-right: 5px;
}


/*     footer    */
.mobile-lista{
  display: none;
}

footer{
    background-color: transparent;
    position: relative;
    width: 100%; 
    display: block;
    z-index: 10;

}
.big-lista{
  display: inline-block;
  position: relative;
  clear: both;
  box-sizing: border-box;
  padding: 20px !important;
  display: block;

}

footer .lista{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

footer .item{
  display: inline-block;
  width: 24%;
  vertical-align: top;
  margin:0;
  padding:0;
  font-size: 13px;
  line-height: 28px;
}

footer .lista .item li a:hover{
  color: #ffffff;
}

footer .itemcic {
  color:#ffffff;
  text-transform: uppercase;
  font-size: 12px;
}

footer ul li{
  list-style: none;
}

footer ul li a{
  color: #8c8c94;
  text-decoration: none;
}
.contact{
  overflow: hidden;
  height: 50px;
  margin-top: 16px;
}

}

@media screen and (min-width: 865px){

.container-header{
  bottom: 320px;
}
}
